.todo{
    margin: auto;
    width: 50%;
    min-height: 50vh;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
}
.task-summary{
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.todo-input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}
.todo-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.todo button:hover{
    background-color: #45a049;
}
.todo button{
    
    font-weight: bold;
}
.todo-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-list li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    width: 70%;
    border: 1px solid ;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tabs-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

@media (max-width: 768px) {
  .todo {
    width: 90%;              
    font-size: 16px;  
    margin:auto;
  }

  .task-summary {
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
  }

  .todo-input {
    width: 100%;           
    margin: 10px 0;
    font-size: 14px;
  }

  .todo button {
    width: 100%;           
    padding: 12px;
    font-size: 14px;
  }

  .todo-list li {
    flex-direction: column;  
    align-items: flex-start;
    width: 100%;  
    font-size: 16px;
    padding: 15px;
  }

  .todo-list li p {
    margin: 8px 0;
    word-break: break-word; 
  }

  .tabs-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .tabs{
    max-width: 200px;
    width: 100%;
  }
}